.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.panel {
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}
